{% extends 'layout.html' %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
  <div class="circle--actions--bar">
    <nav class="bounds">
      <ul class="circle--pill--list">
        <li><a href="{% url 'projects:applications' %}">Applications</a></li>
        <li><a class="selected" href="{% url 'accounts:profile' %}">Profile</a></li>
      </ul>
    </nav>
  </div>

  <form method="post" action="{% url 'accounts:edit_profile' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="bounds circle--page">
      <div class="circle--page--header circle--fluid">
        <div class="circle--fluid--cell circle--fluid--primary">
          <h2>Profile</h2>
        </div>
        <div class="circle--fluid--cell circle--fluid--secondary">
          <input type="submit" class="button button-primary icon-on-left" value="Save Changes">
        </div>
      </div>

      <div class="grid-70">
        <p>First Name:</p>
        {{ profile_form.first_name}}
        <p>Last Name:</p>
        {{ profile_form.last_name}}
        <div class="circle--article--body">
          <p>Description:</p>
          {{ profile_form.description }}
        </div>
      </div>

      <div class="grid-25 grid-push-5">

        <div class="circle--secondary--module">
          <div class="circle--primary--avatar">
            <img src="{{ object.image.url }}" width="100%">
            {{ profile_form.image }}
          </div>
        </div>

        <div class="circle--secondary--module">
          <h4>My Skills</h4>
          <ul class="circle--clone--list">
            {% for skill in profile_form.skills %}
            {{ skill }}
            {% endfor %}
            {{ formset.management_form }}
            {% for form in formset %}
            <li class="skill-formset">
              {{ form.id }}
              {{ form.name }}
            </li>
            {% endfor %}
          </ul>
        </div>
        <!--
        <div class="circle--secondary--module">
          <h4>My Projects</h4>
          <ul class="circle--clone--list">
            {{ user_project_formset.management_form }}
            {% for project in user_project_formset %}
            <li class="project-formset">
              {{ project.id }}
              <span>Title:</span>
              {{ project.title }}
              <span>Url:</span>
              {{ project.url }}
            </li>
            {% endfor %}
          </ul>
        </div>-->
      </div>

    </div>
  </form>
{% endblock %}

{% block js %}
    {% load static from staticfiles %}
    {{ form.media.js }}
    <script src="{% static 'social_app/js/jquery.formset.js' %}"></script>
    <script>
        $('.skill-formset').formset({
            addText: 'Add skill',
            deleteText: 'Remove'
        });
    </script>
    <!--
    <script>
        $('.project-formset').formset({
            addText: 'Add project',
            deleteText: 'Remove'
        });
    </script>-->
{% endblock js %}