{% extends 'layout.html' %}

{% block title %}Edit Project{% endblock %}

{% block content %}
  <form action="{% url 'projects:edit_project' pk=object.pk %}" method="POST">
    {% csrf_token %}
    <div class="circle--actions--bar">
      <div class="bounds">
        <div class="grid-100">
          <a class="button button-text" href="index.html">Discard</a>
          <button type="submit" class="button button-primary icon-on-left">Save Project</button>
        </div>
      </div>
    </div>
    
    <div class="bounds circle--page circle--article">
      <div class="grid-70">
        <div class="circle--article--body">
          <h2>Project Title</h2>
          {{ form.title.errors }}
          {{ form.title }}
          <h2>Description</h2>
          {{ form.description.errors }}
          {{ form.description }}
        </div>

        <div class="circle--project--positions">
          <h2>Positions</h2>

          <ul class="circle--group--list circle--clone--list">
            {{ formset.management_form }}
            {% for form in formset %}
            <li class="formset">
              {{ form.id }}
              <span>Position Name:</span>
              {{ form.name }}
              <span>Lenght of involvement hours/week:</span>
              {{ form.length }}
              <span>Position Description:</span>
              {{ form.description }}
              <span>Needed Skills:</span>
              {% for skill in form.skills %}
                {{ skill }}
              {% endfor %}
            </li>
            {% endfor %}
          </ul>
          <button type="submit" class="button button-primary icon-on-left">Save Project</button>

        </div>
      </div>

      <div class="grid-25 grid-push-5">

        <div class="circle--secondary--module">
          <h3>Project Timeline</h3>
          {{ form.duration.errors }}
          {{ form.duration }}
        </div>

        <div class="circle--secondary--module">
          <h3>Applicant Requirements</h3>
          {{ form.requirements.errors }}
          {{ form.requirements }}
        </div>

      </div>
    </div>
  </form>
{% endblock %}

{% block js %}
    {% load static from staticfiles %}
    {{ form.media.js }}
    <script src="{% static 'social_app/js/jquery.formset.js' %}"></script>
    <script>
        $('.formset').formset({
            addText: 'Add position',
            deleteText: 'Remove'
        });
    </script>
{% endblock js %}