{% extends 'layout.html' %}
{% load course_extras %}

{% block content %}
  <div class="circle--actions--bar">
    <div class="bounds">
      <div class="grid-100">
        {% if request.user == object.user %}
          <a class="button" href="{% url 'projects:edit_project' pk=object.pk %}">Edit Project</a>
          <a class="button button-text" href="{% url 'projects:delete_project' pk=object.pk %}">Delete Project</a>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="bounds circle--page circle--article">
    <div class="grid-70">
      <div class="circle--article--header">
        <h4 class="circle--article--section">Project</h4>
        <h1 class="circle--article--title">{{ object.title }}</h1>
        <p class="circle--article--byline">Project Owner: <a href="{% url 'accounts:any_profile' pk=object.user.profile.id %}">{{ object.user }}</a></p>
      </div>

      <div class="circle--article--body">
        <p>{{ object.description|markdown_to_html }}</p>
      </div>

      <div class="circle--project--positions">
        <h2>Positions</h2>
        <ul class="circle--group--list">
          {% if not positions %}
          <li>There are no open positions right now...</li>
          {% else %}
          {% for position in positions %}
          <li>
            <h3>{{ position.name }}</h3>
            {% if position.length %}
            <span>Length of involvement: {{ position.length}} hours/week</span>
            {% endif %}
            <p>{{  position.description|markdown_to_html }}</p>
            <h3>Desired Skill:</h3>
            <tbody>
              <td class="circle--cell">
                {% for skill in position.skills.all %}
                <span>{{ skill|join:", " }}</span>
                {% endfor %}
              </td>
            </tbody><br>
            {% if request.user != object.user %}
              {% if position in applied %}
                <button disabled class="button button-inactive">Already Applied</button>
              {% else %}
              <a class="button button-primary" href="{% url 'projects:apply' position_pk=position.id %}">Apply</a>
              {% endif %}
            {% endif %}
          </li>
          {% endfor %}
          {% endif %}
        {% if request.user == object.user %}
        <h2>All Applications for this Project</h2>
        {% if applications %}
        <table class="u-full-width circle--table">
          <thead>
            <tr>
              <th>Applicant</th>
              <th class="circle--cell--right">Applicant Position</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for application in applications %}
            <tr class="clickable-row" data-href="{% url 'accounts:any_profile' pk=application.applicant.profile.id %}">
              <td>
                <h3>{{ application.applicant }}</h3>
                <p>{{ application.position.project.title }}</p>
              </td>
              <td class="circle--cell--right">
                <span class="secondary-label">{{ application.position.name }}</span>
              </td>
              <td>
                {% if application.status == 'P' %}
                <a class="button button-primary" href="{% url 'projects:app_status' application_pk=application.pk status='accepted' %}">Accept</a>
                <a class="button button-secondary" href="{% url 'projects:app_status' application_pk=application.pk status='rejected' %}">Reject</a>
                {% elif application.status == 'A' %}
                <p>You accepted {{ application.applicant }}</p>
                {% elif application.status == 'R' %}
                <p>You rejected {{ application.applicant }}</p>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
      <p>No applications yet...</p>
      {% endif %}
      {% endif %}
      </div>
    </div>

    <div class="grid-25 grid-push-5">
      <div class="circle--secondary--module">
        <h3>Project Needs</h3>
        <ul class="circle--link--list">
          {% for position in object.positions.all %}
          <li><a>{{ position.name }}</a></li>
          {% endfor %}
        </ul>
      </div>

      <div class="circle--secondary--module">
        <h3>Project Timeline</h3>
        <p>{{ object.duration }} hours</p>
      </div>

      <div class="circle--secondary--module">
        <h3>Applicant Requirements</h3>
        <p>{{ object.requirements }}</p>
      </div>

    </div>
  </div>
{% endblock %}